.table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1px white;
}

.tbody {
  overflow-y: auto;
  overflow-x: auto;
}

.row {
  cursor: pointer;
}

.row:hover {
  background-color: white;
  color: darkslategrey;
}
