*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
  color: white;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "tableContainer detailContainer"
                       "tableContainer detailContainer";
} 

.tableContainer {
  grid-area: tableContainer;
  overflow-y: auto;
  margin: 1rem;
  height: calc(100% - 2rem);
}

.detailContainer {
  grid-area: detailContainer;
  overflow-y: auto;
  margin: 1rem;
  max-height: calc(100% - 2rem);
}